@import "src/styles/colors.scss";

.total{
    width: 90%;
}
.total-all{
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.total-amounts{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    &__amount{
        h2{
            font-size: 30px;
        }
        p{
            font-size: 20px;
        }
    }

    &__rest{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        justify-content: space-between;

       
    }
}

.total-months{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

table{
    border-spacing: 0;
    td{
        width: 200px;
        padding: 10px;
        border-right: 2px solid black;
        
    }

    tr:nth-child(even){
        background-color: $color-light-grey;
    }

    td:last-child{
        border-right: none
    }

    
}

@media (max-width: 600px){
   .total-months{
       width: 90%;
       align-items: flex-start;

       h2{
           align-self: center;
       }
   }

   table{
       td{
        width: auto;
       }
       
   }
    
    }
