@import "src/styles/colors.scss";

.card-list{
    flex: 2;
    height: 500px;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    display: grid;
    grid-template-columns: 220px 220px 220px;
    row-gap: 20px;
    justify-content: center;
    align-items: flex-start;
}

.card-list::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}


@media (max-width: 600px){
    .card-list{
        grid-template-columns: 50% 50%;
        column-gap: 5px;
        justify-items: center;
        overflow: visible;
        height: auto;
        margin: 50px 0;
    }
        
    
    }