@import "src/styles/colors.scss";

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: $color-white;
    border-radius: 10px;

    box-shadow: 10px 10px 42px -30px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 42px -30px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 42px -30px rgba(0,0,0,0.75);

    p{
        margin-top: 0;
    }

    &-del{
        position: absolute;
        right: 10px;
        top: 8px;
    }

}

@media (max-width: 600px){
    .card{
        width: 150px;
        height: 150px;

        p{
            margin: 0;
        }
    }


        
    
    }