@import "src/styles/colors.scss";

.navmenu{
    color: $color-grey;
    font-size: 20px;
    font-weight: 500;
    
    .link{
        text-decoration: none;
        transition: all 0.2s ease-in-out ;
    }

    .link:visited, a:hover, a:focus{
        color: $color-light-grey;
    }

    .link:nth-child(1){
        margin-right: 20px;
    }

    .link.active{
        color: $color-dark-grey;
        border-bottom: 3px solid $color-dark-grey;
    }
}