@import "src/styles/colors.scss";

.header{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1{
    color: $color-dark-grey;
    font-size: 35px;
}

.link{
    text-decoration: none;
    &:visited, &:hover, &:focus {
        
        color: $color-dark-grey;
    }
}


.login-link{
    font-size: 17px;
    font-weight: 500;
}



.user-acc{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: $color-lighter-grey;

    &-btn{
        font-size: 17px;
        font-weight: 500;
        margin-right: 10px;
    }
    &-icon{
        color: $color-light-grey;
    }
}