@import "src/styles/colors.scss";

.form-section{
    display: flex;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    background-color: $color-grey;
    min-width: 350px;
    border-radius: 10px;
    padding: 20px;
    

    box-shadow: 10px 10px 42px -16px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 42px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 42px -16px rgba(0,0,0,0.75);

    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-around;
        
        input{
            margin-bottom: 10px
        }
    }
    .textarea{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        height: 150px;
        width: 90%;
        margin-bottom: 10px;
        resize: none;
        background-color: $color-white;
        color: $color-dark-grey;
        text-indent: 10px;
        border: none;
        outline: none;
        padding: 0;
        &::placeholder{
            color: $color-dark-grey;
            
        }

        
    }
    
}

.input-select{
    width: 90%;
    padding: 20px ;
    outline: none;
    border: none;
    margin-bottom: 20px;
    
    option{
        border-radius: 0;
    }

    
}


@media (max-width: 600px){
    .form-section{
        min-width: 200px;
    }
        
    
    }