@import "src/styles/colors.scss";

.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200, 0.5);
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
    min-width: 200px;
    min-height: 200px;
    padding: 20px 40px;
    border-radius: 5px;
    background-color: $color-white;
    
    &__cancel {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    &__buttons {
        display: flex;
        margin-top: auto;

        & > :first-child {
            margin-right: 10px;
        }
    }
}

@media (max-width: 600px){
    .modal {
        min-width: 100px;
        width: 60%;
    }
        
    
    }
